body{
margin: 0;
padding: 0;


}

.spread{
background-color:  rgb(6, 48, 48);
height: 100vh;
}


.system{
letter-spacing: 4px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.5rem;
color: gold;
text-transform: uppercase;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
padding-top: 90px;
}

.school-imo img{
 width: 120px;
 height: 120px;
 border-radius: 50%;
 display: block;
 margin: 15px auto;
 box-shadow: 0 8px 20 rgba(0,0,0,0.5);
 backdrop-filter: blur(10px);
 
}

.form-form{
display: flex;
justify-content: center;
flex-direction: column;
max-width: 50%;
padding-top: 30px;
margin: 0 auto;


 }

 @media(max-width:768px){
.form-form{
max-width:100%;
padding:0 15px;

}

.system{
padding-top: 25px;
text-align:center;
padding:15px;
font-weight: 600;
display: flex;
justify-content: center;
align-items: center;
width:80%;
font-size: 1.5rem;
letter-spacing: normal;
margin: 0 auto;


}
 }

 .form-form label{
margin: 5px 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 1.5rem;
color: white;
 }

 .form-form input{
background: transparent;
border: none;
border-bottom: 2px solid white;
padding: 6px;
color: gold;
font-size: 16px;
outline: none;
margin: 5px;



 }

 

 .form-form button{
border: none;
background-color: green;
outline: 2px solid white;
padding: 5px 0;
font-size: 1.5rem;
border-radius: 7px;
color: white;
text-transform: uppercase;
margin-top: 7px;
transition: all 2s ease;
 }


  .form-form button:hover{
  background-color: goldenrod;
  color: black;
  opacity: 0.7;
  }


  .view{
  display: flex;
  justify-content: center;
  align-items: center;
  background: gold;
  color: black;
  padding-bottom: 20px;
  border-radius: 7px;
  font-size: 1.5rem;
  cursor: pointer;
  width: 100%;
  }


  .view a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  text-decoration: none;
  color: black;
  font-weight: 600;
  padding-top: 30px;
  }